.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.inputC {
  color: #ec03fc;
  width: 40%;
  font-size: 30px;
  background-color: black;
  border-radius: 5px;
  text-align: center;
  border: solid;
  border-color: #ec03fc;
  border-width: 3px;

  margin: 10%;
}
