body {
  background-image: url("htbx_scan.JPG");
  /* animation: blinkingBackground 0.9s infinite; */
  background-size: 500px;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 700px) {
  body {
    background-size: 400px;

    /* On screens 600px or smaller, images will take 80% of the width */
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes blinkingBackground {
  80% {
    background-color: #dc143c;
  }
}

/* @media (max-width: 800px) {
  body {
    background-size: 130px;
  }
} */
.html {
  height: 100%;
}
